In [5]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [2]:
data = pd.read_csv('./spambase/spambase_train.data', header=None)

data_map = lambda x: np.log(x+0.1)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.0,0.87,0.0,0.00,2.63,0.0,0.00,0.00,0.00,...,0.317,0.317,0.0,0.000,0.000,0.000,1.269,5,33,0
1,0.31,0.2,0.72,0.0,0.00,0.62,0.0,0.62,0.62,0.93,...,0.000,0.000,0.0,0.548,0.199,0.033,14.301,685,1516,1
2,0.00,0.0,0.00,0.0,0.95,0.00,0.0,0.00,0.00,0.00,...,0.000,0.365,0.0,0.000,0.000,0.000,1.238,6,78,1
3,0.00,0.0,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.00,...,0.000,0.000,0.0,0.000,0.000,0.000,1.333,3,12,0
4,0.44,0.0,0.00,0.0,0.89,0.00,0.0,0.00,0.00,0.44,...,0.000,0.000,0.0,1.131,0.150,0.075,2.428,28,153,1

In [6]:
X = data.iloc[:, 0:-1].apply(data_map)
y = data.iloc[:, -1]

In [7]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,-2.302585,-2.302585,-0.030459,-2.302585,-2.302585,1.004302,-2.302585,-2.302585,-2.302585,-2.302585,...,-2.302585,-0.874669,-0.874669,-2.302585,-2.302585,-2.302585,-2.302585,0.314081,1.629241,3.499533
1,-0.891598,-1.203973,-0.198451,-2.302585,-2.302585,-0.328504,-2.302585,-0.328504,-0.328504,0.029559,...,-2.302585,-2.302585,-2.302585,-2.302585,-0.433865,-1.207312,-2.017406,2.667298,6.529565,7.323897
2,-2.302585,-2.302585,-2.302585,-2.302585,0.048790,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,...,-2.302585,-2.302585,-0.765718,-2.302585,-2.302585,-2.302585,-2.302585,0.291176,1.808289,4.357990
3,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,...,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,-2.302585,0.359770,1.131402,2.493205
4,-0.616186,-2.302585,-2.302585,-2.302585,-0.010050,-2.302585,-2.302585,-2.302585,-2.302585,-0.616186,...,-2.302585,-2.302585,-2.302585,-2.302585,0.207827,-1.386294,-1.742969,0.927428,3.335770,5.031091

In [9]:
y.head()

0    0
1    1
2    1
3    0
4    1
Name: 57, dtype: int64

In [10]:
ds = tf.data.Dataset.from_tensor_slices((X, y))

In [11]:
ds

In [12]:
for d in ds:
    print(d[0])
    print(d[1])
    break

tf.Tensor(
[-2.30258509 -2.30258509 -0.03045921 -2.30258509 -2.30258509  1.00430161
 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -0.03045921
 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -0.03045921
 -0.03045921 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509
 -2.30258509 -2.30258509 -0.03045921 -2.30258509 -2.30258509 -2.30258509
 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509
 -0.03045921 -2.30258509 -2.30258509 -2.30258509 -2.30258509 -2.30258509
 -2.30258509 -2.30258509 -0.03045921 -2.30258509 -2.30258509 -2.30258509
 -0.87466906 -0.87466906 -2.30258509 -2.30258509 -2.30258509 -2.30258509
  0.31408055  1.62924054  3.49953328], shape=(57,), dtype=float64)
tf.Tensor(0, shape=(), dtype=int64)